<!DOCTYPE html>
<html>
<head>
    <title>Library Management System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Library Management System</h1>
        <!-- <h2>Select User Type:</h2> -->
        <div class="user-options">
            <a href="/admin/signup">Admin</a>
            <a href="/student/signup">Student</a>
        </div>
    </div>
    {% if success_message %}
        <div class="success-message">
            {{ success_message }}
        </div>
    {% endif %}
</body>
</html>
